$mainRed: #ed7161;
$darkRed: #db5746;
$fadedRed: #ed71612e;
$mainBlue: #111d71;
$paraGray: #908f8f;
$background-2: #d5d8dd;

$font-1: 'Montserrat', sans-serif;
$font-2: 'Merriweather', serif;
$font-3: 'Catamaran', sans-serif;
$font-4: 'Sofia', serif;

