@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,800;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Sofia");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-weight: 400;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: #ed7161;
}

a:hover {
  text-decoration: none;
  color: white;
}

li {
  font-family: "Montserrat", sans-serif;
  color: #ed7161;
  font-size: 7rem;
}

.navbar {
  position: fixed;
  overflow: hidden;
  background-color: #111d71;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
.navbar-logo {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #ed7161;
  font-size: 3rem;
  padding-left: 30px;
  align-items: center;
}

li {
  float: left;
  display: block;
  text-align: center;
  padding: 18px 18px;
  margin-top: 18px;
  text-decoration: none;
  font-size: 18px;
  list-style-type: none;
}

.navbar a {
  color: #908f8f;
}

.navbar a:hover {
  background-color: #18289d;
  color: white;
  padding: 20px;
}

.counter {
  position: absolute;
  top: 20px;
  right: 310px;
  font-size: 16px;
  background-color: #ed7161;
  color: white;
  padding: 0px 5px;
  border-radius: 3px;
}

.container {
  padding: 18px;
  margin-top: 35px;
  height: 2000px;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1100px;
  padding: 0 10px;
}
@media (max-width: 414px) {
  .wrapper {
    padding: 0 20px;
  }
}

#contact-body {
  padding: 0;
  background-image: url(https://img.freepik.com/free-vector/abstract-background-with-colourful-watercolour-splatter-design_1048-14567.jpg?w=826&t=st=1667215124~exp=1667215724~hmac=60289475bc86e56593fbb0356669bfebbfcabe4496708cc4256614309c75cf2a);
  background-size: cover;
  align-items: center;
}

.contact-container {
  display: grid;
  grid-template-areas: "menu main main main main" "menu footer footer footer footer";
  gap: 50px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 60px;
  height: 100%;
  margin-top: 150px;
  justify-content: center;
  align-content: center;
  background-position: relative;
}

.contact {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  color: white;
}
.contact-title {
  margin-top: 150px;
  color: white;
  transition: all 4s ease-in;
}
.contact-title h1 {
  font-family: "Sofia", serif;
  font-size: 10rem;
  line-height: 3;
  color: white;
  text-shadow: 2px 2px 8px #000000;
}
.contact-subtitle h2 {
  font-family: "Catamaran", sans-serif;
  font-size: 5rem;
  font-size: 1.5rem;
}
.contact form {
  margin-top: 30px;
}
.contact .form-control {
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #111d71;
  color: #111d71;
  font-size: 22px;
  font-weight: bolder;
  margin: 0 auto;
  justify-content: center;
}
.contact .form-control .submit {
  background-color: #ed7161;
}
.contact .form-control .submit #contact-form {
  background: transparent;
  font-weight: bold;
}
.contact .form-control .submit .input {
  height: 45px;
}
.contact .form-control .submit form .submit {
  background: #111d71;
  border-color: transparent;
  color: white;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}
.contact .form-control .submit ::-moz-placeholder {
  color: #111d71;
  font-size: 17px;
  opacity: 1; /* Firefox */
}
.contact .form-control .submit :-ms-input-placeholder {
  color: #111d71;
  font-size: 17px;
  opacity: 1; /* Firefox */
}
.contact .form-control .submit ::placeholder {
  color: #111d71;
  font-size: 17px;
  opacity: 1; /* Firefox */
}
.contact .form-control .submit :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #111d71;
}
.contact .form-control .submit ::-ms-input-placeholder { /* Microsoft Edge */
  color: #111d71;
}

button .mapBtn {
  width: 200px;
  padding: 15px 25px;
  margin: 0 auto;
  font-size: 25px;
  background-color: rgba(237, 113, 97, 0.7);
  color: #111d71;
  justify-content: center;
  border-radius: 10px;
  box-shadow: #908f8f, 0.3;
}

.mapBtn:hover {
  cursor: pointer;
}

.fa-arrow-down {
  color: white;
}

* {
  padding: 0;
  margin: 0;
}

.item1 {
  grid-area: header;
}

.item2 {
  grid-area: menu;
}

.item3 {
  grid-area: main;
}

.item4 {
  grid-area: right;
}

.item5 {
  grid-area: footer;
}

.item3 .gallery {
  max-width: 700px;
  background-color: #908f8f;
}

.grid-container {
  display: grid;
  grid-template-areas: "menu main main main main main" "menu footer footer footer footer footer";
  gap: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 60px;
  max-width: 3000px;
  height: 100%;
  margin-top: 150px;
}

.grid-container > div {
  text-align: center;
  font-size: 30px;
}

#book-body {
  height: 100%;
  background-image: url("https://img.freepik.com/free-vector/colorful-watercolor-background_23-2148492944.jpg?w=826&t=st=1667245630~exp=1667246230~hmac=fbfedab2c470a558eda557653dd81a7d4fc09e4b19ada4bbb5072e07652751a8");
  background-size: cover;
  display: flex;
  align-content: space-between;
  justify-content: center;
}

.section-head {
  font-family: "Sofia", serif;
  font-style: italic;
  color: #111d71;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 5rem;
  margin-bottom: 3rem;
}

form {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  font-family: Avenir;
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#form-prompt {
  color: #111d71;
  font-size: 36px;
  margin-top: 15px;
  margin-bottom: 5px;
}

label {
  font-size: 25px;
}

input[type=text] {
  font-size: 16px;
}

input[type=email] {
  font-size: 16px;
}

button {
  margin-bottom: 10px;
  padding: 8px;
  background-color: #ed7161;
}

button:hover, input:hover, label:hover {
  cursor: pointer;
  color: white;
}

::-moz-placeholder {
  font-size: 20px;
  color: grey;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  font-size: 20px;
  color: grey;
  opacity: 1; /* Firefox */
}

::placeholder {
  font-size: 20px;
  color: grey;
  opacity: 1; /* Firefox */
}

.fa-envelope {
  font-size: 110px;
  color: #111d71;
  margin-left: 5px;
  float: left;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: grey;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: grey;
}

table {
  table-layout: fixed;
  text-align: center;
  width: 1000px;
  height: 200px;
  background-color: #111d71;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: white;
}
table td {
  padding: 15px;
  border: 1px solid white;
  border-collapse: collapse;
}
table th {
  background-color: #ed7161;
  padding: 18px;
  border: 1px solid white;
  border-collapse: collapse;
}
table img {
  width: 580px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 15px;
  margin-top: 15px;
}

h4 {
  display: flex;
  align-content: center;
  font-family: "Merriweather", serif;
  color: #111d71;
  font-size: 20px;
  padding: 0 0;
  text-align: center;
}

#slider {
  width: 1000px;
  height: 700px;
  overflow: hidden;
}

#slider .slides {
  display: block;
  width: 7070px;
  height: 700px;
  margin: 0;
  padding: 0;
}

#slider .slide {
  float: left;
  list-style-type: none;
  width: 1000px;
  height: 700px;
}

/**** ****/
div#dropdown-menu {
  position: relative;
  margin-top: 30px;
}

div#dropdown-menu a {
  padding: 15px;
}

.dropdown-toggle {
  padding: 0;
  background: #111d71;
}

/**** ****/
.list {
  font-size: 26px;
  color: white;
  padding: 0;
}

ul.dropdown {
  width: 500px;
  display: flex-box;
  position: absolute;
  align-self: center;
  top: 100%;
  margin-top: 5px;
  background-color: lightgrey;
  padding: 0;
}

ul.dropdown li a {
  text-decoration: none;
  display: inline-block;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.grid-container {
  margin-top: 150px;
}

h1 {
  font-family: "Sofia", serif;
  font-size: 50px;
  color: #ed7161;
  text-align: center;
}

h3 {
  font-family: "Sofia", serif;
  font-size: 36px;
  color: #111d71;
  text-align: center;
}

.card_heading {
  margin-top: 20px;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin: 20px 20px;
  color: #d5d8dd;
  text-align: center;
  background-color: #908f8f;
}

p {
  font-family: "Catamaran", sans-serif;
  font-size: 30px;
}

.btn {
  border: none;
  outline: 0;
  width: 200px;
  display: inline;
  padding: 8px;
  background-color: rgba(237, 113, 97, 0.5);
  color: #111d71;
  text-align: center;
  cursor: pointer;
  font-family: "Catamaran", sans-serif;
  font-size: 20px;
}
.btn a {
  color: white;
}
.btn:hover {
  background-color: #ed7161;
}

.fa-solid {
  color: #908f8f;
  font-size: 30px;
  padding-left: 20px;
}

.heart {
  color: #111d71;
  font-size: 35px;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}
.saved-container {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  background-size: cover;
  align-items: center;
  max-width: 1600px;
  height: auto;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 50px;
  padding: 30px;
  font-size: 25px;
  color: #111d71;
  cursor: pointer;
}

.projectSAVED {
  max-width: auto;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 150px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.savedRow {
  display: flex;
}

.project-header {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  margin-bottom: 15px;
}

.project-title {
  width: 50%;
  font-size: 30px;
}

.project-description {
  width: 40%;
  display: flex;
  align-items: center;
  font-size: 30px;
}

.button {
  display: inline-block;
  background-color: #ed7161;
  padding: 1.3rem 3.2rem;
  border-radius: 3px;
  font: weight 400px;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
  margin-top: 2rem;
}
@media (max-width: 414px) {
  .button {
    font-size: 1.5rem;
    padding: 1rem 2.9rem;
  }
}
@media (max-width: 320px) {
  .button {
    font-size: 1.5rem;
    padding: 1rem 2.5rem;
  }
}
.button:hover {
  background-color: #db5746;
}

.page-section {
  padding: 3rem 0;
  text-align: center;
}

.circular-image {
  width: 250px;
  border-radius: 50%;
  margin: 20px;
}

.section-title {
  color: #111d71;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 4rem;
  font-weight: bold;
  padding-bottom: 3rem;
}
@media (max-width: 414px) {
  .section-title {
    font-size: 3.7rem;
  }
}
@media (max-width: 320px) {
  .section-title {
    font-size: 3rem;
  }
}

.section-subtitle {
  font-family: "Sofia", serif;
  font-style: italic;
  color: #ed7161;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 5rem;
  margin-bottom: 3rem;
}
.section-subtitle::before {
  content: "";
  display: block;
  height: 13px;
  width: 283px;
  margin: 0 auto;
  background-color: rgba(237, 113, 97, 0.1803921569);
  margin-bottom: 3rem;
}

.generic-text {
  margin: 0 auto;
  letter-spacing: 1px;
  color: #908f8f;
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 2.5;
  padding-bottom: 3rem;
}
@media (max-width: 414px) {
  .generic-text {
    font-size: 1.8rem;
  }
}

.hero {
  background: linear-gradient(rgba(17, 29, 113, 0.7), rgba(17, 29, 113, 0.7)), url(https://img.freepik.com/free-photo/copy-space-wooden-background-paint-brushes_23-2148660983.jpg?w=900&t=st=1666799764~exp=1666800364~hmac=9f3dadd2981b932e9ac34797f9f7e12ada6e213e71f863256103849c38162c52) top left no-repeat;
  background-size: cover;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}
.hero__title {
  font-family: "Catamaran", sans-serif;
  font-size: 8rem;
  letter-spacing: 2px;
  font-weight: 400;
  line-height: 0.7;
}
.hero__title--faded {
  display: inline-block;
  font-family: "Sofia", serif;
  color: rgba(255, 255, 255, 0.5);
  transform: scale(1.2);
  margin: 0 2rem;
}
.hero__title--red {
  color: #ed7161;
  font-family: "Sofia", serif;
  font-style: italic;
  transform: scale(1.2);
}
.hero__subtitle {
  font-weight: 100;
  font-size: 3rem;
  margin: 6rem auto;
  width: 60%;
  line-height: 2;
}
.hero .fa-quote-left {
  color: #ed7161;
}
.hero .fa-quote-right {
  color: #ed7161;
}

.tools {
  background-color: #d5d8dd;
}
.tools__container {
  margin-top: 1rem;
  text-align: left;
}
.tools__box {
  position: relative;
}
.tools__box:nth-child(2) {
  margin: 4rem 0;
}
.tools__tools-title {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  color: rgba(17, 29, 113, 0.6);
  position: absolute;
  top: -3rem;
  left: -3rem;
}
.tools__tools-title__bullet {
  color: rgba(237, 113, 97, 0.6);
}
.tools__tools-description {
  width: 80%;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2;
}

.footer {
  position: inherit;
  background-color: #111d71;
  padding: 3rem 0;
  margin-bottom: 10px;
  text-align: center;
  color: white;
}
.footer__text {
  font-size: 3rem;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 2;
}
.footer__link {
  color: .footer__link mainRed;
}/*# sourceMappingURL=styles.css.map */